---
import ExperienceItem from "./ExperienceItem.astro";
import { work } from "@cv";
---

<ol class="relative mt-16">
    {
        work.map(
            ({
                endDate,
                highlights,
                name,
                position,
                startDate,
                summary,
                url,
            }) => (
                <li class="">
                    <ExperienceItem
                        name={name}
                        summary={summary}
                        url={url}
                        startDate={startDate}
                        endDate={endDate}
                        highlights={highlights}
                        position={position}
                    />
                </li>
            ),
        )
    }
</ol>
